<mat-toolbar class="app-navbar" color="primary">
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button *ngIf="!isLoggedIn()" mat-button mat-ripple routerLink="/Login">
                <span>Prijava</span>
            </button>
            <button *ngIf="!isLoggedIn()" mat-button mat-ripple routerLink="/Register">
                <span>Registracija</span>
            </button>

            <button *ngIf="isLoggedIn()
                && this.storeService.getServiceFromStore()=='eZdravstvo'
                && this.storeService.getCustomRole()=='Doctor'" mat-button mat-ripple routerLink="/Pregledi-Lekar">
                <span>Pregledi</span>
            </button>
            <button *ngIf="isLoggedIn()
                && this.storeService.getServiceFromStore()=='eZdravstvo'
                && this.storeService.getCustomRole()=='Doctor'" mat-button mat-ripple routerLink="/Vakcine">
                <span>Vakcine</span>
            </button>
            <button *ngIf="isLoggedIn()
                && this.storeService.getServiceFromStore()=='eZdravstvo'
                && this.storeService.getCustomRole()=='Doctor'" mat-button mat-ripple routerLink="/Kartoni">
                <span>Kartoni</span>
            </button>


            <button *ngIf="isLoggedIn()
                && this.storeService.getServiceFromStore()=='eZdravstvo'
                && this.storeService.getCustomRole()=='Regular'" mat-button mat-ripple
                routerLink="/Pregledi-Gradjanin">
                <span>Pregledi</span>
            </button>


            <button *ngIf="isLoggedIn()
                && this.storeService.getServiceFromStore()=='eMaticar'
                && this.storeService.getCustomRole()=='Registrar'" mat-button mat-ripple routerLink="/Marriage">
                <span>Vencanje</span>
            </button>
            <button *ngIf="isLoggedIn()
                && this.storeService.getServiceFromStore()=='eMaticar'
                && this.storeService.getCustomRole()=='Regular'" mat-button mat-ripple routerLink="/view-my-registry">
                <span>Pregledaj izvode</span>
            </button>


            <button *ngIf="isLoggedIn()
                && this.storeService.getServiceFromStore()=='Admin'
                && this.storeService.getCustomRole()=='Admin'" mat-button mat-ripple routerLink="/Alergije-Admin">
                <span>Alergije</span>
            </button>
            <button *ngIf="isLoggedIn()
                && this.storeService.getServiceFromStore()=='Admin'
                && this.storeService.getCustomRole()=='Admin'" mat-button mat-ripple routerLink="/Invaliditeti-Admin">
                <span>Invaliditeti</span>
            </button>


            <button *ngIf="isLoggedIn()" mat-button mat-ripple routerLink="/choose-service">
                <span>Servisi</span>
            </button>
            <button *ngIf="isLoggedIn()" (click)="logout()" mat-button mat-ripple>
                <span>Logout</span>
            </button>

        </div>
    </div>
</mat-toolbar>