<h1 class="welcome">Pregledi i vakcinacije</h1>
<div class="search">
    <h3 class="search-h3">Tip Pregleda</h3>
    <mat-form-field appearance="outline">
        <mat-select (selectionChange)="search($event.value)">
            <mat-option style="font-size: 15px; text-align: center" *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<button class="btn btn-success" routerLink="/Pregled-Add">Dodavanje Pregleda</button>
<app-pregled-list [pregledi]="pregledi"></app-pregled-list>
<h3 *ngIf="pregledi?.length == 0 || !pregledi" class="empty-list">Nema pregleda</h3>