<div>
    <div>
        <mat-card class="add-pregled-card">
            <mat-card-title class="card-title-main">Kreiranje Novog Pregleda</mat-card-title>
            <div class="form-group">
                <form [formGroup]="pregledFormGroup">

                    <div class="form-outline mb-4">
                        <h3 class="field-name">Tip Pregleda</h3>
                        <select id="tipPregleda" class="form-control form-control-lg" formControlName="tipPregleda"
                            [ngClass]="{ 'is-invalid': submittedPregled && pregledGroup['tipPregleda'].errors }">
                            <option [value]="tipPregleda" *ngFor="let tipPregleda of tipoviPregleda">{{tipPregleda}}
                            </option>
                        </select>
                        <div *ngIf="submittedPregled && pregledGroup['tipPregleda'].errors" class="invalid-feedback">
                            <div *ngIf="pregledGroup['tipPregleda'].errors['required']">Tip pregleda je obavezan.</div>
                        </div>
                    </div>

                    <div *ngIf="hasChosenType()">

                        <div class="form-outline mb-4">
                            <h3 class="field-name">Datum Pregleda</h3>
                            <input type="date" id="datumPregleda" class="form-control form-control-lg"
                                formControlName="datumPregleda" min="{{ today | date:'yyyy-MM-dd' }}"
                                [ngClass]="{ 'is-invalid': submittedPregled && pregledGroup['datumPregleda'].errors}" />
                            <div *ngIf="submittedPregled && pregledGroup['datumPregleda'].errors"
                                class="invalid-feedback">
                                <div *ngIf="pregledGroup['datumPregleda'].errors['required']">Datum je obavezan.</div>
                            </div>
                        </div>

                        <div *ngIf="hasChosenDate()" class="row">
                            <div class="col-md-4">

                                <h3 class="field-name-from-to">Od</h3>
                                <mat-form-field appearance="outline">
                                    <mat-select id="satiPocetak" class="form-control form-control-lg"
                                        formControlName="satiPocetak" [(value)]="selectedFirstScrollNumber"
                                        [ngClass]="{ 'is-invalid': submittedPregled && pregledGroup['satiPocetak'].errors}"
                                        (selectionChange)="onFirstScrollSelect($event)">
                                        <mat-option *ngFor="let number of firstScrollNumbers" [value]="number">{{
                                            number + "h"
                                            }}</mat-option>
                                    </mat-select>
                                    <div *ngIf="submittedPregled && pregledGroup['satiPocetak'].errors"
                                        class="invalid-feedback">
                                        <div *ngIf="pregledGroup['satiPocetak'].errors['required']">Obavezno polje.
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <h3 class="field-name-from-to">Do</h3>
                                <mat-form-field appearance="outline">
                                    <mat-select id="satiKraj" class="form-control form-control-lg"
                                        formControlName="satiKraj" [(value)]="selectedSecondScrollNumber"
                                        [ngClass]="{ 'is-invalid': submittedPregled && pregledGroup['satiPocetak'].errors}"
                                        (selectionChange)="onSecondScrollSelect($event)">
                                        <mat-option *ngFor="let number of secondScrollNumbers" [value]="number">{{
                                            number + "h"
                                            }}</mat-option>
                                    </mat-select>
                                    <div *ngIf="submittedPregled && pregledGroup['satiKraj'].errors"
                                        class="invalid-feedback">
                                        <div *ngIf="pregledGroup['satiKraj'].errors['required']">Obavezno polje.
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                            
                        </div>

                        <form [formGroup]="vakcinaFormGroup">
                            <div class="form-outline mb-4" *ngIf="isVakcinacija()">
                                <h3 class="field-name">Vakcina</h3>
                                <select id="vakcina" class="form-control form-control-lg" formControlName="vakcina"
                                    [ngClass]="{ 'is-invalid': submittedVakcina && vakcinaGroup['vakcina'].errors }">
                                    <option *ngFor="let vakcina of vakcine" [value]="vakcina.id">{{vakcina.naziv}}
                                    </option>
                                </select>
                                <div *ngIf="submittedVakcina && vakcinaGroup['vakcina'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="vakcinaGroup['vakcina'].errors['required']">Vakcina je obavezna.</div>
                                </div>
                            </div>
                        </form>

                        <h2 class="already-exists" *ngIf="alreadyExists">Pregled već postoji u datom vremenu
                            <button mat-button (click)="removeError()">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </h2>

                        <div class="form-group form-check">
                            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Dodaj</button>
                        </div>

                    </div>

                </form>

            </div>

        </mat-card>

    </div>
</div>