<section class="vh-100 mt-5">
  <div class="mask d-flex align-items-center h-80 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center text-primary mb-5">Prijava</h2>

              <form [formGroup]="loginFormGroup">
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="jmbg"
                    [ngClass]="{
                      'is-invalid': submitted && loginGroup['jmbg'].errors
                    }" />
                  <label class="form-label" for="form3Example1cg">Unesite vaš JMBG</label>
                  <div *ngIf="submitted && loginGroup['jmbg'].errors" class="invalid-feedback">
                    <div *ngIf="loginGroup['jmbg'].errors['required']">
                      JMBG je obavezan.
                    </div>
                    <div *ngIf="loginGroup['jmbg'].errors['minlength']">
                      JMBG mora biti bar 1 karaktera.
                    </div>
                    <div *ngIf="loginGroup['jmbg'].errors['maxlength']">
                      JMBG ne može biti duži od 20 karaktera.
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg"
                    formControlName="password" [ngClass]="{
                      'is-invalid': submitted && loginGroup['password'].errors
                    }" />
                  <label class="form-label" for="form3Example4cg">Unesite vašu šifru</label>
                  <div *ngIf="submitted && loginGroup['password'].errors" class="invalid-feedback">
                    <div *ngIf="loginGroup['password'].errors['required']">
                      Šifra je obavezan.
                    </div>
                    <div *ngIf="loginGroup['password'].errors['minlength']">
                      Šifra mora biti bar 1 karaktera.
                    </div>
                    <div *ngIf="loginGroup['password'].errors['maxlength']">
                      Šifra ne može biti duži od 20 karaktera.
                    </div>
                  </div>
                </div>

                <div *ngIf="jmbgNotFound" class="not-found">
                  <h3>Nepostojeći JMBG</h3>
                </div>
                <div *ngIf="incorrectPassword" class="not-found">
                  <h3>Pogrešna šifra</h3>
                </div>
                <div *ngIf="userDied" class="not-found">
                  <h3>Korisnik je preminuo</h3>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body"
                    (click)="onSubmit()">
                    Prijavite se
                  </button>
                </div>
              </form>
            </div>
            <p class="go-to-register" routerLink="/Register">Registrujte se na sistem eUprave.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>