<mat-card class="choose-service-card">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="row">
        <div class="col d-flex justify-content-center align-items-center mt-3">
          <h1>Molimo izaberite servis:</h1>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col d-flex justify-content-center align-items-center">
          <button class="btn btn-primary" (click)="selectService('Registrar', 'eMaticar')">eMatičar</button>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <button class="btn btn-success" (click)="selectService('Doctor', 'eZdravstvo')">eZdravstvo</button>
        </div>
        <div *ngIf="this.storeService.getRoleFromToken() == 'Admin'" class="col d-flex justify-content-center align-items-center">
          <button class="btn btn-danger" (click)="selectedAdmin('Admin', 'Admin')">Admin</button>
        </div>
      </div>
    </div>
  </div>
</mat-card>