<section class="vh-100 mt-5">
    <div class="mask d-flex align-items-center h-80 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5 text-primary">Unošenje podataka novorođene osobe
                            </h2>

                            <form [formGroup]="formGroup">

                                <div class="form-outline mb-4">
                                    <input type="text" id="jmbgOca" class="form-control form-control-lg"
                                        formControlName="jmbgOca"
                                        [ngClass]="{ 'is-invalid': submitted && group['jmbgOca'].errors }" />
                                    <div *ngIf="submitted && group['jmbgOca'].errors" class="invalid-feedback">
                                        <div *ngIf="group['jmbgOca'].errors['required']">JMBG oca je obavezan.</div>
                                    </div>
                                    <label class="form-label" for="jmbgOca">JMBG oca</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="ime" class="form-control form-control-lg"
                                        formControlName="ime"
                                        [ngClass]="{ 'is-invalid': submitted && group['ime'].errors }" />
                                    <div *ngIf="submitted && group['ime'].errors" class="invalid-feedback">
                                        <div *ngIf="group['ime'].errors['required']">Ime je obavezno.</div>
                                        <div *ngIf="group['ime'].errors['minlength']">Ime mora biti bar 1 karakter.
                                        </div>
                                        <div *ngIf="group['ime'].errors['maxlength']">Ime ne može biti veće od 20
                                            karaktera.</div>
                                    </div>
                                    <label class="form-label" for="ime">Ime</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="prezime" class="form-control form-control-lg"
                                        formControlName="prezime"
                                        [ngClass]="{ 'is-invalid': submitted && group['prezime'].errors }" />
                                    <div *ngIf="submitted && group['prezime'].errors" class="invalid-feedback">
                                        <div *ngIf="group['prezime'].errors['required']">Prezime je obavezno.</div>
                                        <div *ngIf="group['prezime'].errors['minlength']">Prezime mora biti bar 1
                                            karakter.
                                        </div>
                                        <div *ngIf="group['prezime'].errors['maxlength']">Prezime ne može biti veće od
                                            20
                                            karaktera.</div>
                                    </div>
                                    <label class="form-label" for="ime">Prezime</label>
                                </div>

                                <div *ngIf="fatherNotExist">
                                    <h1 class="user-exists">JMBG nije pronađen u sistemu</h1>
                                </div>
                                <div *ngIf="isFemale">
                                    <h1 class="is-female">JMBG ne pripada muškoj osobi</h1>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="button"
                                        class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body"
                                        (click)="onSubmit()">Dodaj</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>