.pregled-card {
max-width: 530px;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
}

.pregled-title {
font-size: 22px;
text-align: center;
color:blue;
margin-bottom: 20px;
}

.pregled-lekar {
text-align: center;
font-size: 16px;
margin-bottom: 15px;
}

.pregled-gradjanin {
text-align: center;
font-size: 16px;
margin-bottom: 15px;
}

.pregled-pocetak {
font-size: 17px;
text-align: center;
}

.pregled-kraj {
font-size: 17px;
text-align: center;
}

.btn-success {
margin-top: 20px;
margin-left: 180px;
}

.btn-danger {
margin-top: 20px;
margin-left: 180px;
}