<mat-card class="pregled-card">
  <mat-card-title *ngIf="isTaken()" class="pregled-title" [routerLink]="['/Pregled-View', pregled.id]">
    Pregled
  </mat-card-title>
  <mat-card-title *ngIf="!isTaken()" class="pregled-title" [routerLink]="['/Pregled-View', pregled.id]">
    Slobodan Pregled
  </mat-card-title>
  <mat-card-title class="pregled-lekar">Lekar:
    {{ pregled.lekar.ime + " " + pregled.lekar.prezime }}</mat-card-title>
  <mat-card-title *ngIf="isTaken()" class="pregled-gradjanin">Pacijent: {{ pregled.gradjanin.ime }}</mat-card-title>
  <!-- <mat-card-title class="appointment-day">Dan: {{appointment.dayOfAppointment * 1000 | date: "shortDate"}}</mat-card-title> -->
  <mat-card-content>
    <p class="pregled-pocetak">
      Početak: {{ pregled.pocetakPregleda * 1000 | date : "longDate" }}
    </p>
    <p class="pregled-kraj">
      Kraj: {{ pregled.zavrsetakPregleda * 1000 | date : "longDate" }}
    </p>
  </mat-card-content>
  <div class="form-group form-check">
    <button *ngIf="!isMyPregled()" type="submit" class="btn btn-success" (click)="update()">
      Rezerviši
    </button>
    <button *ngIf="isMyPregled()" type="submit" class="btn btn-danger" (click)="delete()">
      Ukloni
    </button>
  </div>
</mat-card>